*.o
*.ors
*.so
*.aux
*.bbl
*.blg
*.log
conicet/bibdatabase.bib~
conicet/desctec.pdf
conicet/desctec.toc
conicet/plan_trabajo_tipo_1.pdf
conicet/plan_trabajo_tipo_1.tex.backup
conicet/plan_trabajo_tipo_1.tex~
miniJat/bin/
minisat-2.2.0-swigged/ClauseInfo.java
minisat-2.2.0-swigged/Solver.java
minisat-2.2.0-swigged/activities_and_polarities
minisat-2.2.0-swigged/clauseseq.java
minisat-2.2.0-swigged/depend.mk
minisat-2.2.0-swigged/intseq.java
minisat-2.2.0-swigged/minisat.java
minisat-2.2.0-swigged/minisatJNI.java
minisat-2.2.0-swigged/minisat_wrap.cxx
minisat-2.2.0-swigged/pruebas/
minisat-2.2.0-swigged/solver.learnt
minisat-2.2.0-swigged/solver.model
